/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: darkslategray;
    font-size: 5vw;
    position: relative;
    top: 10px;
    left: 5px;
    margin: 40px 0 0 0;    
}

h2 {
    font-size: 3vw;
    margin: 0;
}

h3 {
    font-size: 2vw;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #f6f5f5;
    text-decoration: none;
  }

nav {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategray;
    box-shadow: 5px 5px 12px /* 3rd digit is how great is the blur of the shadow */ rgba(0, 0, 0, 0.2);
    padding: 0 200px;
    color: #f6f5f5;
}

.nav-menu {
    font-size: large;
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0 25px;
    cursor: pointer;
}

.nav-title {
    font-size: 2em;
}

.lightBackground {
    background-color: darkseagreen;
    margin: 0;
}

.longText {
    padding: 5%;
}

.formBox {
    box-sizing: border-box;
    border: 1px solid slategrey;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.733);
  }

/* Home Section */
.home {
    width: 98,5vw; /* viewport widht <- the whole width of your browser screen */
    height: 82vh; /* viewport height <- 95% of the height of your browser screen */
    background-color: darkseagreen;
} 
    /* why only 95% of vh and not 100? so that the next part of your page is already visible and the user knows that by scrolling down they will arrive to the next part */

#intro-text {
    position: absolute;
    width: 60vw;
    left: 40px;
    top: 20px;
    font-size: 1.9vw;
    color: darkslategray;
    margin: 0;
}

#intro-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: darkslategray;
    font-size: 1.5em;
    width: 98,5vw;
    height: 40vh;
    background-color: darkseagreen;
}

.intro-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 4);
    margin: 10px;
    border: 2px solid darkslategray;
    border-radius: 5px;
    background: #d4ed85;
}
  
.intro-level > h2 {
    margin: 0;
    background-color: darkslategray;
    padding: 15px 0;
    width: 100%;
    color: #d4ed85;
}

.intro-level > p {
    margin-top: 0;
    padding: 5px;
    text-align: center;  
}



/* image */
#plant {
    height: 60vh;
    position: absolute;
    left: 65%;
    top: 20%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 6%;
    text-align: center;
  }


/* button */
.my-button {
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid darkslategray;
    color: darkslategray;
    padding: 12px 48px;
    width: 30vw;
    height: 10vh;
}

.my-button:hover {
    background-color: darkslategray;
    color: #f6f5f5;
}

.my-button:active {
    position: relative;
    top: 1px;
}

#about-text {
    background-color: darkslategray;
    margin: 10px;
    padding: 0px;
    border: 2px solid #d4ed85;
    border-radius: 5px;
}

#about-text > p { 
    font-size: 25px;
    margin: 0;
    background-color: darkseagreen;
    padding: 1px 0;
    width: 100%;
    color: darkslategray;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2rem;
    text-transform: uppercase;
}

#how-to {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    width: auto;
    margin: 10px;
    border: 2px solid #d4ed85;
    border-radius: 5px;
    background: darkseagreen;
}

#how-step-cont {
    width: calc(100% / 2);
    margin: 0 10px 0 0;
}

.how {
    border: 2px solid darkslategray;
    border-radius: 5px;
    background: #f6f5f5;
    margin: 10px 0 10px 0;
    color: darkslategray;
    padding: 10px;
    
}

.how > p {
    margin: 0;
}

#how-title-cont {
    width: auto;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.how-title {
    background-color: #d4ed85;
    width: auto;
    border: 2px solid darkslategray;
    border-radius: 5px;
    padding: 10px;
    color: darkslategray;
}

#how-tree {
    width: 300px;
}

#how-tree img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 30px;
    background-color: darkslategray;
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #f6f5f5;
  }

  .button-quest {
    background-color: darkseagreen;
    text-align: center;
    width: auto;
    margin: 10px;
    border: 2px solid #d4ed85;
    border-radius: 5px;
  }
  
  .button-end {
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid darkslategray;
    color: darkslategray;
    padding: 12px 48px;
    width: calc(100 / 2);
    height: 10vh;
}

.button-end:hover {
    background-color: darkslategray;
    color: #f6f5f5;
}

.button-end:active {
    position: relative;
    top: 1px;
}