.formBox {
  box-sizing: border-box;
  border: 1px solid slategrey;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.733);
}

h1 {
  font-family: 'Open Sans Light';
  font-size: x-large;
  text-indent: 25px;
  color: slategrey;
}

.infoText {
  font-family: 'Open Sans Light';
  font-size: medium;
  text-indent: 30px;
  color: slategrey;
}

.product-layout {
  position: relative;
  background:green;
  display: flex;
  justify-content: center;
}
.form-navs {
  border: 1px solid;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.733);
  color: #000;
  text-align: center;
  user-select: none;
  cursor: pointer;
  padding: 10px;
}

.previous {
  left: 10px;
  transform: translate(50%, -50%);
}
.next {
  right: 10px;
  transform: translate(-50%, -50%);
}
.next, .previous{
  top: 50%;
}