.container {
  display: grid;
  grid-template-columns: repeat(1fr);
}




.formBox {
  box-sizing: border-box;
  border: 1px solid slategrey;
}

h1 {
  font-family: 'Open Sans Light';
  font-size: x-large;
  text-indent: 25px;
  color: slategrey;
}

.linklist {
  list-style-type: none;
}

.infoText {
  font-family: 'Open Sans Light';
  font-size: medium;
  text-indent: 30px;
  color: slategrey;
}

.product-layout {
  position: relative;

}

/* form's next and previous buttons */
.form-navs {
  border: 1px solid;
  position: absolute;
  /* background-color: white; */
  color: #000;
  text-align: center;
  user-select: none;
  cursor: pointer;
  padding: 10px;
  transition: ease-in-out 0.4s;
}

.form-navs:disabled {
  background-color: #888;
}

.form-navs:enabled {
  background-color: #fff;
}

.previous {
  left: 0;
  transform: translate(50%, -50%);
}
.next {
  right: 0;
  transform: translate(-50%, -50%);
}
.next, .previous{
  bottom: 0;
  width: 20%;
}

/* form's validation */
input.fieldValidated {
  /* background-color: greenyellow; */
  border: 1px solid greenyellow;
  outline: 4px solid green;
  outline-offset: 5px;
}

input.fieldNotValidated:focus {
  /* background-color: indianred; */
  outline: 4px solid indianred;
  border: 1px solid indianred;
  outline-offset: 5px;
}

select.fieldValidated:valid {
  border: 1px solid greenyellow;
  outline: 5px solid green;
  outline-offset: 4px;
}

select.fieldNotValidated {
  border: 4px solid indianred;
}


