@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(181, 255, 218, 0.082);
}

h2 {
    font-size: large;
    text-indent: 5%;
}

p {
    padding: 0;
    margin: 2% 5% 2% 5%;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    line-height: 1.25;
    margin: 2% 5% 2% 5%;
  }

a {
color: #f6f5f5;
text-decoration: none;
}


/*Product display*/

.productList {
    font-size:medium;
    color:slategrey;
    line-height: 1.5;
    padding: 12px 20px;
    margin: 8px 0;

}

.deleteButton {
	box-shadow: 0px 1px 1px 0px #8a2a21;
	background-color:#c62d1f;
	border-radius:8px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.deleteButton:hover {
	background-color:#f24437;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

/*Nav bar*/

nav {
    height: 7vh;
    width: 98.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 49, 49);
    box-shadow: 5px 5px 12px /* 3rd digit is how great is the blur of the shadow */ rgba(0, 0, 0, 0.2);
    padding: 0 ;
    color: #f6f5f5;
}

.nav-menu {
    font-size: large;
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0 25px;
    cursor: pointer;
}

.nav-title {
    font-size: 2em;
    text-indent: 5%;
}

/*Form*/

.productForm.product-layout {
    background-color: darkslategray;
}

.productForm {
    font-size:medium;
    color:darkslategray;
    padding: 12px 20px;
    margin: 8px 0;
    line-height: 2;
}

form {
    background-color: darkseagreen;
    border: 2px solid #d4ed85;
    border-radius: 5px;
    color: darkslategray;
    width: 65vw;
    margin: 2% auto 2% auto;
    
}

.formBox.tab1 {
    background: none;
    border: none;
    width: auto;
    height: auto;
}

.next.form-navs {
    background-color: darkseagreen;
    border: 2px solid #d4ed85;
    border-radius: 5px;
    color: darkslategray;

}


input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size:medium;
    color:slategrey;
    padding: 5px 5px;
    margin: 0% 5% 2% 5%;
    width: 90%;
    line-height: 1.25;
    box-sizing:border-box;
    border: 1px solid slategrey;
    border-radius: 4px;
   
}

input:focus {
    border: 2px solid #18ab29;
}

textarea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size:medium;
    color:slategrey;
    padding: 5px 5px;
    margin: 0% 5% 2% 5%;
    width: 90%;
    line-height: 1.25;
    box-sizing:border-box;
    border: 1px solid slategrey;
    border-radius: 4px;
   
}

textarea:focus {
    border: 2px solid #18ab29;
}

select {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size:medium;
    color:slategrey;
    padding: 5px 5px;
    margin: 0% 5% 2% 5%;
    width: 90%;
    line-height: 1.25;
    box-sizing: border-box;
    border: 1px solid slategrey;
    border-radius: 4px;
}

button {
    font-family: 'Poppins', sans-serif;
}

.submitButton {
	box-shadow:inset 0px 0px 0px 1px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#c75844;
	border-radius:16px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
    margin: 0% 10% 10% 10%;
    width: 80%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.submitButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.submitButton:active {
	position:relative;
	top:1px;
}

.reminder30{
    box-sizing: border-box;
    display: flex;
    background-color: #efef;
    width: 80%;
    margin-left: 10%;
    height: 50px;
    justify-content: center;
}
.reminderBox {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
}

.reminderAns {
    align-self: center;
}

.reminderBox:hover {
    cursor: pointer;
}
.activeAnswer{
    background-color: green;
    color: #efef;
}

/*Footer*/

footer {
    margin-top: 0px;
    background-color: darkslategray;
    padding: 0 15px 15px 15px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 15px;
  }
  
  footer > span {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #f6f5f5;
  }